.hero__avatar {
  width: 384px;
  height: 384px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: solid 10px #ffffff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 320px) {
  .hero__avatar{
    width: 110px;
    height: 110px;
    border: solid 5px #ffffff;
  }
}
