.footer__social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 320px) {
  .footer__social-links {
    flex-direction: column;
    gap: 8px;
  }
}
