.contact-form {
  width: 464px;
  background-color: #ffffff;
  -webkit-box-shadow: -5px 5px 0px #ffc41d;
          box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  padding: 40px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 320px) {
  .contact-form {
    width: 272px;
    padding: 32px 18px 40px;
  }
}
