.scale {
  -webkit-transform: scale(1.,1.);
      -ms-transform: scale(1.,1.);
          transform: scale(1.,1.);
  -webkit-transition: opacity .5s ease;
        -o-transition: opacity .5s ease;
            transition: opacity .5s ease;
}

.scale:hover {
  -webkit-transform: scale(1.05,1.05);
      -ms-transform: scale(1.05,1.05);
          transform: scale(1.05,1.05);
}
