/*@media (max-width: 1280px) {*/
  .social-links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    list-style: none;
  }

/*
@media (max-width: 320px) {
  .social-links {
    gap: 6px;
  }
}
*/
