.projects__overlay {
  background: -o-linear-gradient(270.17deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%);
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #213E60 99.85%);
  width: 100%;
  height: 100%;
  opacity: 1;
}

@media (max-width: 320px) {
  .projects__overlay {
    min-height: 166px;
  }
}
