.projects__item {
  position: relative;
  width: 304px;
  min-height: 304px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media (max-width: 320px) {
  .projects__item {
    width: 272px;
    min-height: 166px;
  }
}
