.footer__confidentiality {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #949494;
}
