@media (max-width: 1280px) {
  .hero__button {
    margin: 0;
    width: 300px;
    height: 66px;
    background-color: #ffbb01;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 4px 0px #b68500;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1B2944;
  }
}

@media (max-width: 320px) {
  .hero__button {
    width: 272px;
    height: 44px;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
  }
}
